@import "../pallete.less";

main {
    padding: 0px 150px;

    h1,
    h2,
    h3,
    h4 {
        &:first-of-type {
            margin-top: 0px;
        }
    }

    .t-dock {
        a {
            text-decoration: none;
            font-weight: bold;
            color: @onBackground;
        }
    }

    .custom-model-input-container {
        position: relative;

        .custom-chunk-data {
            width: max-content;
            padding-right: 16px;
            text-align: end;
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translate(-100%, -50%);
        }
    }

    .list {
        display: grid;
        gap: 10px;

       
    }
}